h1, h2 {
    text-align: center;
    -webkit-text-stroke: 1px darkred;
    text-stroke: 1px darkred;
}

div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    gap: 12px 24px;
    margin: 20px auto;
    width: fit-content;
    background-color: beige;
    border: 3px solid black;
    padding: 15px;
}

div a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    font-size: 3em;
    padding: 6px 10px;
    display: inline-block;
}

div a:nth-child(7) {
    grid-column: 2;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background: darkred;
    color: #f8f0e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    padding: 0 1rem;
}

body {
    padding-bottom: 76px; 
}