/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.1.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: fast_fuel
-- ------------------------------------------------------
-- Server version	12.1.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `Id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Id`),
  CONSTRAINT `FK_Admins_AspNetUsers_Id` FOREIGN KEY (`Id`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `admins` VALUES
(1);
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `allergies`
--

DROP TABLE IF EXISTS `allergies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `allergies` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Allergies_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allergies`
--

LOCK TABLES `allergies` WRITE;
/*!40000 ALTER TABLE `allergies` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `allergies` VALUES
(2,'Dairy'),
(1,'Gluten'),
(3,'Peanuts');
/*!40000 ALTER TABLE `allergies` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `allergyingredient`
--

DROP TABLE IF EXISTS `allergyingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `allergyingredient` (
  `AllergiesId` int(10) unsigned NOT NULL,
  `IngredientsId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`AllergiesId`,`IngredientsId`),
  KEY `IX_AllergyIngredient_IngredientsId` (`IngredientsId`),
  CONSTRAINT `FK_AllergyIngredient_Allergies_AllergiesId` FOREIGN KEY (`AllergiesId`) REFERENCES `allergies` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_AllergyIngredient_Ingredients_IngredientsId` FOREIGN KEY (`IngredientsId`) REFERENCES `ingredients` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allergyingredient`
--

LOCK TABLES `allergyingredient` WRITE;
/*!40000 ALTER TABLE `allergyingredient` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `allergyingredient` VALUES
(1,2),
(2,5);
/*!40000 ALTER TABLE `allergyingredient` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `aspnetroleclaims`
--

DROP TABLE IF EXISTS `aspnetroleclaims`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aspnetroleclaims` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `RoleId` int(10) unsigned NOT NULL,
  `ClaimType` longtext DEFAULT NULL,
  `ClaimValue` longtext DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_AspNetRoleClaims_RoleId` (`RoleId`),
  CONSTRAINT `FK_AspNetRoleClaims_AspNetRoles_RoleId` FOREIGN KEY (`RoleId`) REFERENCES `aspnetroles` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspnetroleclaims`
--

LOCK TABLES `aspnetroleclaims` WRITE;
/*!40000 ALTER TABLE `aspnetroleclaims` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `aspnetroleclaims` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `aspnetroles`
--

DROP TABLE IF EXISTS `aspnetroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aspnetroles` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(500) NOT NULL,
  `IsDefault` tinyint(1) NOT NULL DEFAULT 0,
  `ArePermissionsImmutable` tinyint(1) NOT NULL DEFAULT 0,
  `Pages` longtext NOT NULL,
  `NormalizedName` varchar(256) DEFAULT NULL,
  `ConcurrencyStamp` longtext DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_AspNetRoles_Name` (`Name`),
  UNIQUE KEY `RoleNameIndex` (`NormalizedName`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspnetroles`
--

LOCK TABLES `aspnetroles` WRITE;
/*!40000 ALTER TABLE `aspnetroles` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `aspnetroles` VALUES
(1,'Customer',1,0,'[2,3,9]','CUSTOMER','5aa00537-3a4e-4626-9b09-a3402a3d9dec'),
(2,'Employee',1,0,'[0,2,1,9,19]','EMPLOYEE','2dd38bb5-c5f0-4e2c-a235-490a6e594b41'),
(3,'Machine',1,0,'[1,0,2,9]','MACHINE','47569ed7-92a4-47a5-87dc-51c4d24fbcee'),
(4,'Admin',1,1,'[4,5,6,7,8,10,11,12,13,14,15,16,17,18,9]','ADMIN','e5144669-20df-43db-be98-b164a8b816d5');
/*!40000 ALTER TABLE `aspnetroles` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `aspnetuserclaims`
--

DROP TABLE IF EXISTS `aspnetuserclaims`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aspnetuserclaims` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `UserId` int(10) unsigned NOT NULL,
  `ClaimType` longtext DEFAULT NULL,
  `ClaimValue` longtext DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_AspNetUserClaims_UserId` (`UserId`),
  CONSTRAINT `FK_AspNetUserClaims_AspNetUsers_UserId` FOREIGN KEY (`UserId`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspnetuserclaims`
--

LOCK TABLES `aspnetuserclaims` WRITE;
/*!40000 ALTER TABLE `aspnetuserclaims` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `aspnetuserclaims` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `aspnetuserlogins`
--

DROP TABLE IF EXISTS `aspnetuserlogins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aspnetuserlogins` (
  `LoginProvider` varchar(255) NOT NULL,
  `ProviderKey` varchar(255) NOT NULL,
  `ProviderDisplayName` longtext DEFAULT NULL,
  `UserId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`LoginProvider`,`ProviderKey`),
  KEY `IX_AspNetUserLogins_UserId` (`UserId`),
  CONSTRAINT `FK_AspNetUserLogins_AspNetUsers_UserId` FOREIGN KEY (`UserId`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspnetuserlogins`
--

LOCK TABLES `aspnetuserlogins` WRITE;
/*!40000 ALTER TABLE `aspnetuserlogins` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `aspnetuserlogins` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `aspnetuserroles`
--

DROP TABLE IF EXISTS `aspnetuserroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aspnetuserroles` (
  `UserId` int(10) unsigned NOT NULL,
  `RoleId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`UserId`,`RoleId`),
  KEY `IX_AspNetUserRoles_RoleId` (`RoleId`),
  CONSTRAINT `FK_AspNetUserRoles_AspNetRoles_RoleId` FOREIGN KEY (`RoleId`) REFERENCES `aspnetroles` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_AspNetUserRoles_AspNetUsers_UserId` FOREIGN KEY (`UserId`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspnetuserroles`
--

LOCK TABLES `aspnetuserroles` WRITE;
/*!40000 ALTER TABLE `aspnetuserroles` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `aspnetuserroles` VALUES
(4,1),
(2,2),
(3,3),
(1,4);
/*!40000 ALTER TABLE `aspnetuserroles` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `aspnetusers`
--

DROP TABLE IF EXISTS `aspnetusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aspnetusers` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `UserName` varchar(50) NOT NULL,
  `PasswordHash` varchar(255) NOT NULL,
  `NormalizedUserName` varchar(256) DEFAULT NULL,
  `Email` varchar(255) DEFAULT NULL,
  `NormalizedEmail` varchar(256) DEFAULT NULL,
  `EmailConfirmed` tinyint(1) NOT NULL,
  `SecurityStamp` longtext DEFAULT NULL,
  `ConcurrencyStamp` longtext DEFAULT NULL,
  `PhoneNumber` longtext DEFAULT NULL,
  `PhoneNumberConfirmed` tinyint(1) NOT NULL,
  `TwoFactorEnabled` tinyint(1) NOT NULL,
  `LockoutEnd` datetime(6) DEFAULT NULL,
  `LockoutEnabled` tinyint(1) NOT NULL,
  `AccessFailedCount` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_AspNetUsers_UserName` (`UserName`),
  UNIQUE KEY `UserNameIndex` (`NormalizedUserName`),
  KEY `EmailIndex` (`NormalizedEmail`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspnetusers`
--

LOCK TABLES `aspnetusers` WRITE;
/*!40000 ALTER TABLE `aspnetusers` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `aspnetusers` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `aspnetusertokens`
--

DROP TABLE IF EXISTS `aspnetusertokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aspnetusertokens` (
  `UserId` int(10) unsigned NOT NULL,
  `LoginProvider` varchar(255) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Value` longtext DEFAULT NULL,
  PRIMARY KEY (`UserId`,`LoginProvider`,`Name`),
  CONSTRAINT `FK_AspNetUserTokens_AspNetUsers_UserId` FOREIGN KEY (`UserId`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspnetusertokens`
--

LOCK TABLES `aspnetusertokens` WRITE;
/*!40000 ALTER TABLE `aspnetusertokens` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `aspnetusertokens` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `Id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Id`),
  CONSTRAINT `FK_Customers_AspNetUsers_Id` FOREIGN KEY (`Id`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `customers` VALUES
(4);
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `employees` (
  `Id` int(10) unsigned NOT NULL,
  `WorksAtRestaurantId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Employees_WorksAtRestaurantId` (`WorksAtRestaurantId`),
  CONSTRAINT `FK_Employees_AspNetUsers_Id` FOREIGN KEY (`Id`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Employees_Restaurants_WorksAtRestaurantId` FOREIGN KEY (`WorksAtRestaurantId`) REFERENCES `restaurants` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `employees` VALUES
(2,1);
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `employeestationcategory`
--

DROP TABLE IF EXISTS `employeestationcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `employeestationcategory` (
  `EmployeesId` int(10) unsigned NOT NULL,
  `StationCategoriesId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`EmployeesId`,`StationCategoriesId`),
  KEY `IX_EmployeeStationCategory_StationCategoriesId` (`StationCategoriesId`),
  CONSTRAINT `FK_EmployeeStationCategory_Employees_EmployeesId` FOREIGN KEY (`EmployeesId`) REFERENCES `employees` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_EmployeeStationCategory_StationCategories_StationCategoriesId` FOREIGN KEY (`StationCategoriesId`) REFERENCES `stationcategories` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employeestationcategory`
--

LOCK TABLES `employeestationcategory` WRITE;
/*!40000 ALTER TABLE `employeestationcategory` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `employeestationcategory` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `foodingredients`
--

DROP TABLE IF EXISTS `foodingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `foodingredients` (
  `FoodId` int(10) unsigned NOT NULL,
  `IngredientId` int(10) unsigned NOT NULL,
  `Quantity` int(10) unsigned NOT NULL,
  `Unit` varchar(50) NOT NULL,
  PRIMARY KEY (`FoodId`,`IngredientId`),
  KEY `IX_FoodIngredients_IngredientId` (`IngredientId`),
  CONSTRAINT `FK_FoodIngredients_Foods_FoodId` FOREIGN KEY (`FoodId`) REFERENCES `foods` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_FoodIngredients_Ingredients_IngredientId` FOREIGN KEY (`IngredientId`) REFERENCES `ingredients` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `foodingredients`
--

LOCK TABLES `foodingredients` WRITE;
/*!40000 ALTER TABLE `foodingredients` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `foodingredients` VALUES
(1,1,1,'piece'),
(1,2,1,'piece'),
(1,3,2,'leaf'),
(1,4,2,'slice'),
(1,5,1,'slice'),
(2,1,1,'piece'),
(2,2,1,'piece'),
(2,5,1,'slice'),
(3,6,3,'piece'),
(3,7,1,'pinch'),
(3,8,1,'portion');
/*!40000 ALTER TABLE `foodingredients` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `foods`
--

DROP TABLE IF EXISTS `foods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `foods` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Price` int(10) unsigned NOT NULL,
  `Description` varchar(600) DEFAULT NULL,
  `ImageUrl` longtext DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Foods_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `foods`
--

LOCK TABLES `foods` WRITE;
/*!40000 ALTER TABLE `foods` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `foods` VALUES
(1,'Big Burger',800,'A big beef burger with lettuce, tomato, and cheese.','https://cdn.pixabay.com/photo/2022/08/29/17/44/burger-7419420_1280.jpg'),
(2,'Cheese Burger',700,'A beef burger with cheese.',NULL),
(3,'Fries',300,'Crispy golden fries.',NULL);
/*!40000 ALTER TABLE `foods` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `ingredients`
--

DROP TABLE IF EXISTS `ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredients` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Ingredients_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredients`
--

LOCK TABLES `ingredients` WRITE;
/*!40000 ALTER TABLE `ingredients` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `ingredients` VALUES
(1,'Beef Patty'),
(2,'Bun'),
(5,'Cheese'),
(3,'Lettuce'),
(8,'Oil'),
(6,'Potato'),
(7,'Salt'),
(4,'Tomato');
/*!40000 ALTER TABLE `ingredients` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `ingredientstationcategory`
--

DROP TABLE IF EXISTS `ingredientstationcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredientstationcategory` (
  `IngredientsId` int(10) unsigned NOT NULL,
  `StationCategoriesId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`IngredientsId`,`StationCategoriesId`),
  KEY `IX_IngredientStationCategory_StationCategoriesId` (`StationCategoriesId`),
  CONSTRAINT `FK_IngredientStationCategory_Ingredients_IngredientsId` FOREIGN KEY (`IngredientsId`) REFERENCES `ingredients` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_IngredientStationCategory_StationCategories_StationCategorie~` FOREIGN KEY (`StationCategoriesId`) REFERENCES `stationcategories` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredientstationcategory`
--

LOCK TABLES `ingredientstationcategory` WRITE;
/*!40000 ALTER TABLE `ingredientstationcategory` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `ingredientstationcategory` VALUES
(1,1),
(2,1),
(3,1),
(4,1),
(5,1),
(6,2),
(7,2),
(8,2);
/*!40000 ALTER TABLE `ingredientstationcategory` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `machines`
--

DROP TABLE IF EXISTS `machines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `machines` (
  `Id` int(10) unsigned NOT NULL,
  `LocatedAtRestaurantId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Machines_LocatedAtRestaurantId` (`LocatedAtRestaurantId`),
  CONSTRAINT `FK_Machines_AspNetUsers_Id` FOREIGN KEY (`Id`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Machines_Restaurants_LocatedAtRestaurantId` FOREIGN KEY (`LocatedAtRestaurantId`) REFERENCES `restaurants` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machines`
--

LOCK TABLES `machines` WRITE;
/*!40000 ALTER TABLE `machines` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `machines` VALUES
(3,1);
/*!40000 ALTER TABLE `machines` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `menufoods`
--

DROP TABLE IF EXISTS `menufoods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `menufoods` (
  `MenuId` int(10) unsigned NOT NULL,
  `FoodId` int(10) unsigned NOT NULL,
  `Quantity` int(10) unsigned NOT NULL,
  PRIMARY KEY (`MenuId`,`FoodId`),
  KEY `IX_MenuFoods_FoodId` (`FoodId`),
  CONSTRAINT `FK_MenuFoods_Foods_FoodId` FOREIGN KEY (`FoodId`) REFERENCES `foods` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_MenuFoods_Menus_MenuId` FOREIGN KEY (`MenuId`) REFERENCES `menus` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menufoods`
--

LOCK TABLES `menufoods` WRITE;
/*!40000 ALTER TABLE `menufoods` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `menufoods` VALUES
(1,1,1),
(1,3,1);
/*!40000 ALTER TABLE `menufoods` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `menus`
--

DROP TABLE IF EXISTS `menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `menus` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Price` int(10) unsigned NOT NULL,
  `Description` varchar(600) DEFAULT NULL,
  `ImageUrl` longtext DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Menus_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menus`
--

LOCK TABLES `menus` WRITE;
/*!40000 ALTER TABLE `menus` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `menus` VALUES
(1,'Lunch Menu',1000,'A special lunch menu with a Big Burger and Fries.',NULL);
/*!40000 ALTER TABLE `menus` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `openinghours`
--

DROP TABLE IF EXISTS `openinghours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `openinghours` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `RestaurantId` int(10) unsigned NOT NULL,
  `DayOfWeek` int(11) NOT NULL,
  `OpenTime` time(6) NOT NULL,
  `CloseTime` time(6) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_OpeningHours_RestaurantId_DayOfWeek` (`RestaurantId`,`DayOfWeek`),
  CONSTRAINT `FK_OpeningHours_Restaurants_RestaurantId` FOREIGN KEY (`RestaurantId`) REFERENCES `restaurants` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `openinghours`
--

LOCK TABLES `openinghours` WRITE;
/*!40000 ALTER TABLE `openinghours` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `openinghours` VALUES
(1,1,0,'09:00:00.000000','21:00:00.000000'),
(2,1,1,'09:00:00.000000','21:00:00.000000'),
(3,1,2,'09:00:00.000000','21:00:00.000000'),
(4,1,3,'09:00:00.000000','21:00:00.000000'),
(5,1,4,'09:00:00.000000','21:00:00.000000'),
(6,1,5,'09:00:00.000000','21:00:00.000000'),
(7,1,6,'09:00:00.000000','21:00:00.000000');
/*!40000 ALTER TABLE `openinghours` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `orderfoods`
--

DROP TABLE IF EXISTS `orderfoods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `orderfoods` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `OrderId` int(10) unsigned NOT NULL,
  `FoodId` int(10) unsigned NOT NULL,
  `Quantity` int(10) unsigned NOT NULL,
  `SpecialInstructions` varchar(300) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_OrderFoods_FoodId` (`FoodId`),
  KEY `IX_OrderFoods_OrderId` (`OrderId`),
  CONSTRAINT `FK_OrderFoods_Foods_FoodId` FOREIGN KEY (`FoodId`) REFERENCES `foods` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_OrderFoods_Orders_OrderId` FOREIGN KEY (`OrderId`) REFERENCES `orders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orderfoods`
--

LOCK TABLES `orderfoods` WRITE;
/*!40000 ALTER TABLE `orderfoods` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `orderfoods` VALUES
(1,1,2,1,'Extra cheese, please.');
/*!40000 ALTER TABLE `orderfoods` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `ordermenus`
--

DROP TABLE IF EXISTS `ordermenus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ordermenus` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `OrderId` int(10) unsigned NOT NULL,
  `MenuId` int(10) unsigned NOT NULL,
  `Quantity` int(10) unsigned NOT NULL,
  `SpecialInstructions` varchar(300) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_OrderMenus_MenuId` (`MenuId`),
  KEY `IX_OrderMenus_OrderId` (`OrderId`),
  CONSTRAINT `FK_OrderMenus_Menus_MenuId` FOREIGN KEY (`MenuId`) REFERENCES `menus` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_OrderMenus_Orders_OrderId` FOREIGN KEY (`OrderId`) REFERENCES `orders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ordermenus`
--

LOCK TABLES `ordermenus` WRITE;
/*!40000 ALTER TABLE `ordermenus` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `ordermenus` VALUES
(1,1,1,1,'Please make the burger without tomato.');
/*!40000 ALTER TABLE `ordermenus` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `RestaurantId` int(10) unsigned NOT NULL,
  `OrderNumber` int(10) unsigned NOT NULL,
  `Status` int(11) NOT NULL DEFAULT 0,
  `CreatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `CompletedAt` datetime(6) DEFAULT NULL,
  `UserId` int(10) unsigned NOT NULL,
  `Price` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Orders_RestaurantId` (`RestaurantId`),
  KEY `IX_Orders_UserId` (`UserId`),
  CONSTRAINT `FK_Orders_AspNetUsers_UserId` FOREIGN KEY (`UserId`) REFERENCES `aspnetusers` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Orders_Restaurants_RestaurantId` FOREIGN KEY (`RestaurantId`) REFERENCES `restaurants` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `orders` VALUES
(1,1,1,0,'2026-04-20 01:04:31.679341',NULL,4,1700);
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `restaurants`
--

DROP TABLE IF EXISTS `restaurants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `restaurants` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Description` varchar(600) DEFAULT NULL,
  `Address` varchar(200) NOT NULL,
  `Latitude` double NOT NULL,
  `Longitude` double NOT NULL,
  `Phone` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Restaurants_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurants`
--

LOCK TABLES `restaurants` WRITE;
/*!40000 ALTER TABLE `restaurants` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `restaurants` VALUES
(1,'FastFuel Diner','A fast food restaurant serving burgers and fries.','123 Main St, Anytown, USA',40.7128,-74.006,'555-1234');
/*!40000 ALTER TABLE `restaurants` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `shifts`
--

DROP TABLE IF EXISTS `shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `shifts` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `StartTime` datetime(6) NOT NULL,
  `EndTime` datetime(6) NOT NULL,
  `EmployeeId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Shifts_EmployeeId` (`EmployeeId`),
  CONSTRAINT `FK_Shifts_Employees_EmployeeId` FOREIGN KEY (`EmployeeId`) REFERENCES `employees` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shifts`
--

LOCK TABLES `shifts` WRITE;
/*!40000 ALTER TABLE `shifts` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `shifts` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `stationcategories`
--

DROP TABLE IF EXISTS `stationcategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `stationcategories` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_StationCategories_Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stationcategories`
--

LOCK TABLES `stationcategories` WRITE;
/*!40000 ALTER TABLE `stationcategories` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `stationcategories` VALUES
(1,'Burger Station'),
(2,'Fries Station');
/*!40000 ALTER TABLE `stationcategories` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `stations`
--

DROP TABLE IF EXISTS `stations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `stations` (
  `Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `RestaurantId` int(10) unsigned NOT NULL,
  `StationCategoryId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_Stations_RestaurantId_Name` (`RestaurantId`,`Name`),
  KEY `IX_Stations_RestaurantId_StationCategoryId` (`RestaurantId`,`StationCategoryId`),
  KEY `IX_Stations_StationCategoryId` (`StationCategoryId`),
  CONSTRAINT `FK_Stations_Restaurants_RestaurantId` FOREIGN KEY (`RestaurantId`) REFERENCES `restaurants` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_Stations_StationCategories_StationCategoryId` FOREIGN KEY (`StationCategoryId`) REFERENCES `stationcategories` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stations`
--

LOCK TABLES `stations` WRITE;
/*!40000 ALTER TABLE `stations` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `stations` VALUES
(1,'Burger Station 1',1,1),
(2,'Fries Station 1',1,2);
/*!40000 ALTER TABLE `stations` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-04-20  1:25:16
